$theme_tint1: #ED254E;
$theme_tint2: #F9DC5C;
$theme_tint3: #C2EABD;
$theme_tint4: #011936;

body {
  font-family: 'Patrick Hand SC', cursive;
  text-align: center;
  color: $theme_tint4;
}

.col-one {
  background-color: $theme_tint1;
}

.col-two {
  background-color: $theme_tint2;
}

.col-three {
  background-color: $theme_tint3;
}

.col-four {
  background-color: $theme_tint4;
  color: white;
}

.nav {
  a {
    margin: 5px;
  }
}

.app {
  margin: auto 3%;
}

.snippet-img {
  margin: 30px auto 0;
  max-width: 600px;
  box-shadow: 3px 3px $theme_tint2;
  display: block;
}